body{
    background:#d8eeff;
    padding:40px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1{
    color:#747474;
    font-weight:100;
    letter-spacing: 10px;
}

h3{
    letter-spacing: 3px;
}

.btn{
    color:rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.705);
    padding:10px 20px;
    font-size:16px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
}

.btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding:20px 20px;
    color:#1b1b1b;
}

.btn-submit{
    color:rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.582);
    padding:5px 10px;
}

.footer{
    font-size:9.5px;
    color:rgb(100, 100, 100);
    clear:both;
    display:block;
    letter-spacing:4px;
    border:1px solid rgb(100, 100, 100);
    padding:5px;
    text-decoration:none;
    width:300px;
    margin:auto;
    margin-top:50px;
}

.body-box{
    border:1.5px solid rgb(100, 100, 100);
    background: #fff;
    width: 700px;
    margin: auto;
}

p{
    text-align: left;
    padding: 30px;
}

#tabs-1{
    font-size: 14px;
}

.ui-widget-header {
    background: white;
    border: 1px solid gray;
    color: black;
    font-weight: bold;
}